th{
    color: #3C5898;
    font-size: 20px;
     height:50%; 
    background-color: #FEFEFE;
    box-shadow:0px 2px 0px grey;
    text-align: center;
    
    
    
    
    
}
#in{
    border: none;
    box-shadow: 1px 1px 2px 3px grey; 
    font-size: 110%;
     margin-top: 20px; 
     background-color: #FEFEFE;
     border-radius: 0px;
      
     }
#bu{
    background-color: #29487D;
    height: 40px;
    color: white;
    width: 200px;
  box-shadow: 1px 1px 2px 3px gray ;
  margin-top: 20px; 
  border-radius: 0px;
  }
#tb{
    /* box-shadow:   3px 3px 4px 4px grey ; */
     width: 65%; 
     
    
    }
#fo{
    width: 55%;
    margin-left: 37%;
    
}
#icon{
    color:#29487D; 
    }
table{
    /* background-color: #DFDFDF; */
    text-align: center;
     margin-left: 35%; 
     border-left: 2px solid #29487D;

    
    }
.border{
    box-shadow: 1px 2px 2px grey;
    background-color: #DFDFDF;

    }
#ic{
    
    color:#29487D;
}
.my-custom-scrollbar{
    position: relative;
    height: 410px;
    overflow: auto;
    
    
}
.table-wrapper-scroll-y{
    display: block; 
   
}
.border1{
    box-shadow: 1px 2px 2px grey; 
     height: 40px;
}


